<!-- begin articles -->
<section id="articles" data-section="articles" class="articles is-light js-scroll-header">
  <div class="articles__inner">
    <ul class="articles-list {% if shortArticleList %}short{% endif %}">
      {% for article in articlesList %}
      <li class="articles-list__item">
        <a class="articles-list__link" href="{{article.link}}">
          <div class="container">
            <h3 class="articles-list__title">{{article.title}}</h3>
            <p class="articles-list__desc">{{article.desc}}</p>
            <p class="articles-list__tags">{{article.tags}}</p>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<!-- end articles -->
