<section id="charting" data-section="charting" class="charting is-dark js-scroll-header">
  <div class="container">
    <h2 class="title title--light title--xs">Charting Our Course in Headless CMS</h2>
    <div class="chart-wrapper">
      <div class="chart" style="--yStartRows: 8; --yEndRows: 5; --xStartRows: 7; --xEndRows: 8">
        <div class="chart__lines">
          <div class="chart__lines-group">
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
          </div>
        </div>
        <span class="chart__label-y">Budget</span>
        <span class="chart__label-x">Project complexity</span>
        <div class="chart__top-left"></div>
        <div class="chart__top-right">
          <div class="chart__item" style="--columns: 7.2; --columnsMobilePercent: 100; --rows: 4; --bg-rows: 7; --bg-rowsMobile: 12;">
            <div class="chart-labels">
              <span class="chart-labels__y">
                Super <br>expensive
                <span>(100k EUR - <em>∞</em>)</span>
              </span>
              <span class="chart-labels__x">
                Enterprise
              </span>
            </div>
            <div class="chart-techs">
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/adobe.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Adobe</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/salesforce.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Salesforce</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Umbraco.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Umbraco</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/bloomreach.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Bloomreach</div>
                </div>
              </div>
            </div>

            <div class="chart-content">
              <div class="chart-content__inner">
                <ul>
                  <li>Complex integrations</li>
                  <li>Scale</li>
                  <li>Enterprise security</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="chart__item  --active" style="--columns: 6.8; --columnsMobilePercent: 97;--rows: 3; --bg-rows: 3; --bg-rowsMobile: 9;">
            <div class="chart-labels">
              <span class="chart-labels__y">
                Cheaper than <br>enterprise
                <span>(20k - 150k EUR)</span>
              </span>
              <span class="chart-labels__x chart-labels__x--right">
                Premium <br>websites
              </span>
            </div>
            <div class="chart-techs">
              <div class="chart-tech chart-tech--fr">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/FR.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Focus Reactive</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Storyblok.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Storyblok</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Sanity.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Sanity</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Contenful.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Contenful</div>
                </div>
              </div>
            </div>

            <div class="chart-content">
              <div class="chart-content__inner">
                <ul>
                  <li>Optimal budget - 20-150k</li>
                  <li>Premium scalability using pre-built plugins combination</li>
                  <li>Efficient integration leveraging deep expertise in targeted tech stack</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="chart__bottom-left">
          <div class="chart__item" style="--columns: 7; --columnsMobilePercent: 56; --rows: 2; --bg-rows: 5; --bg-rowsMobile: 3;">
            <div class="chart-labels">
              <span class="chart-labels__y">
                Cheap
                <span>(under 5k EUR)</span>
              </span>
              <span class="chart-labels__x">
                Generic <br>websiter
              </span>
            </div>
            <div class="chart-techs">
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Blogger.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Blogger</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Squarespace.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Squarespace</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Weebly.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Weebly</div>
                </div>
              </div>
            </div>
            <div class="chart-content">
              <div class="chart-content__inner">
                <ul>
                  <li>Simple interface</li>
                  <li>Quick setup</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="chart__item " style="--columns: 5.2; --columnsMobilePercent: 79; --rows: 3; --bg-rows: 3; --bg-rowsMobile: 6;">
            <div class="chart-labels">
              <span class="chart-labels__y">
                Affordable
                <span>(5k - 20k EUR)</span>
              </span>
              <span class="chart-labels__x">
                Website <br>builders
              </span>
            </div>
            <div class="chart-techs">
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Webflow.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Webflow</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Wix.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Wix</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/WordPress.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>WordPress</div>
                </div>
              </div>
            </div>
            <div class="chart-content">
              <div class="chart-content__inner">
                <ul>
                  <li>Standart solutions</li>
                  <li>No unique features</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="chart__bottom-right"></div>
      </div>
    </div>
  </div>
</section>


<section id="charting2" data-section="charting" class="charting is-dark js-scroll-header">
  <div class="container">
    <h2 class="title title--light title--xs">Staking Our Claim in Headless eCommerce</h2>
    <div class="chart-wrapper">
      <div class="chart" style="--yStartRows: 8; --yEndRows: 6; --xStartRows: 6; --xEndRows: 8">
        <div class="chart__lines">
          <div class="chart__lines-group">
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
          </div>
        </div>
        <span class="chart__label-y">Budget</span>
        <span class="chart__label-x">Project complexity</span>
        <div class="chart__top-left"></div>
        <div class="chart__top-right">
          <div class="chart__item" style="--columns: 7.2; --columnsMobilePercent: 100; --rows: 3; --bg-rows: 7; --bg-rowsMobile: 12;">
            <div class="chart-labels">
              <span class="chart-labels__y">
                High-end budget
                <span>(200k$ - <em>∞</em>)</span>
              </span>
              <span class="chart-labels__x">
                Enterprise
              </span>
            </div>
            <div class="chart-techs">
              <div class="chart-techs__row chart-techs__row--lg">
                <div class="chart-tech ">
                  <div class="chart-tech__img">
                    <img src="/assets/img/chart/Ikea.svg" alt="">
                  </div>
                  <div class="chart-tech__title">
                    <div>Ikea</div>
                  </div>
                </div>
                <div class="chart-tech ">
                  <div class="chart-tech__img">
                    <img src="/assets/img/chart/Accenture.svg" alt="">
                  </div>
                  <div class="chart-tech__title">
                    <div>Accenture</div>
                  </div>
                </div>
                <div class="chart-tech ">
                  <div class="chart-tech__img">
                    <img src="/assets/img/chart/Ebay.svg" alt="">
                  </div>
                  <div class="chart-tech__title">
                    <div>Ebay</div>
                  </div>
                </div>
                <div class="chart-tech ">
                  <div class="chart-tech__img">
                    <img src="/assets/img/chart/Wallmart.svg" alt="">
                  </div>
                  <div class="chart-tech__title">
                    <div>Wallmart</div>
                  </div>
                </div>
                <div class="chart-tech ">
                  <div class="chart-tech__img">
                    <img src="/assets/img/chart/Amazon.svg" alt="">
                  </div>
                  <div class="chart-tech__title">
                    <div>Amazon</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="chart-content">
              <div class="chart-content__inner">
                <ul>
                  <li>Designed for multinational eCommerce giants.</li>
                  <li>Headless architecture that handles vast inventories and traffic.</li>
                  <li>Custom-built solutions integrating multiple channels and touchpoints.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="chart__item" style="--columns: 4.8; --columnsMobilePercent: 90; --rows: 4; --bg-rows: 4; --bg-rowsMobile: 9;">
            <div class="chart-labels">
              <span class="chart-labels__y">
                Expensive
                <span>(100k$ - 300k$)</span>
              </span>
              <span class="chart-labels__x chart-labels__x--right chart-labels__x--top">
                Boutique
              </span>
            </div>
            <div class="chart-techs chart-techs--row">
              <div class="chart-techs__row chart-techs__row--lg">
                <div class="chart-tech ">
                  <div class="chart-tech__img">
                    <img src="/assets/img/chart/Rotate_Agency.svg" alt="">
                  </div>
                  <div class="chart-tech__title">
                    <div>Rotate Agency</div>
                  </div>
                </div>
                <div class="chart-tech ">
                  <div class="chart-tech__img">
                    <img src="/assets/img/chart/Jung_von_Matt.svg" alt="">
                  </div>
                  <div class="chart-tech__title">
                    <div>Jung von Matt</div>
                  </div>
                </div>
                <div class="chart-tech ">
                  <div class="chart-tech__img">
                    <img src="/assets/img/chart/Charle.svg" alt="">
                  </div>
                  <div class="chart-tech__title">
                    <div>Charle</div>
                  </div>
                </div>
              </div>
              <div class="chart-techs__row">
                <div class="chart-tech">
                  <div class="chart-tech__img">
                    <img src="/assets/img/chart/Shopify_plus.svg" alt="">
                  </div>
                  <div class="chart-tech__title">
                    <div>Shopify plus</div>
                  </div>
                </div>

                <div class="chart-tech">
                  <div class="chart-tech__img">
                    <img src="/assets/img/chart/Crystallize.svg" alt="">
                  </div>
                  <div class="chart-tech__title">
                    <div>Crystallize</div>
                  </div>
                </div>
                <div class="chart-tech">
                  <div class="chart-tech__img">
                    <img src="/assets/img/chart/Centra.svg" alt="">
                  </div>
                  <div class="chart-tech__title">
                    <div>Centra</div>
                  </div>
                </div>
                <div class="chart-tech">
                  <div class="chart-tech__img">
                    <img src="/assets/img/chart/Shopify_Hydrogen.svg" alt="">
                  </div>
                  <div class="chart-tech__title">
                    <div>Shopify Hydrogen</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="chart-content">
              <div class="chart-content__inner">
                <ul>

                  <li>Premium budget - 100-300k+</li>
                  <li>Design-driven, optimized for the looks</li>
                  <li>Branding and presentation first</li>
                  <li>Fully bespoke, developed mostly from scratch</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="chart__bottom-left --m-order-1">

          <div class="chart__item" style="--columns: 6; --columnsMobilePercent: 58; --rows: 6; --bg-rows: 6; --bg-rowsMobile: 3;">
            <div class="chart-labels">
              <span class="chart-labels__y">
                Entry
                <span>(1$ - 20k$)</span>
              </span>
              <span class="chart-labels__x">
                site builders
              </span>
            </div>

            <div class="chart-techs">
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Shopify_plus.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Shopify</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Wix.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Wix</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Squarespace.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Squarespace</div>
                </div>
              </div>
            </div>
            <div class="chart-content">
              <div class="chart-content__inner">
                <ul>
                  <li>Suited for startups entering the <br>Headless eCommerce space.</li>
                  <li>Uses pre-configured Headless solutions.</li>
                  <li>Quick deployment with foundational <br>eCommerce capabilities.</li>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="chart__bottom-right ">
          <div class="chart__item --active" style="--columns: 6.8; --columnsMobilePercent: 85; --rows: 4; --bg-rows: 4; --bg-rowsMobile: 6;">
            <div class="chart-labels">
              <span class="chart-labels__y">
                Optimal
                <span>(40k$ - 150k$)</span>
              </span>
              <span class="chart-labels__x">
                Advanced
              </span>
            </div>
            <div class="chart-techs">
              <div class="chart-tech chart-tech--fr">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/FR.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Focus Reactive</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Shopify_plus.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Shopify plus</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Crystallize.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Crystallize</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Centra.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Centra</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Shopify_Hydrogen.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Shopify Hydrogen</div>
                </div>
              </div>
            </div>
            <div class="chart-content">
              <div class="chart-content__inner">
                <ul>
                  <li>Optimal budget - 40-150k </li>
                  <li>Performance and UX first, 20-80 approach </li>
                  <li>Lean branding, maximising bespoke functionality and scalability </li>
                  <li>Advanced technical solutions with pre-built modules </li>
                  <li>Efficient integration leveraging deep expertise in <br>targeted
                    tech stack</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
