<section id="charting" data-section="charting" class="charting is-dark js-scroll-header">
  <div class="container">
    <h2 class="title title--light title--xs">Future-proof solutions at affordable budget</h2>
    <div class="chart-wrapper">
      <div class="chart" style="--yStartRows: 8; --yEndRows: 5; --xStartRows: 7; --xEndRows: 8">
        <div class="chart__lines">
          <div class="chart__lines-group">
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
            <div class="chart__line"></div>
          </div>
        </div>
        <span class="chart__label-y">Budget</span>
        <span class="chart__label-x">Project complexity</span>
        <div class="chart__top-left"></div>
        <div class="chart__top-right --reverse">

          <div class="chart__item  --active" style="--columns: 6.8; --columnsMobilePercent: 97;--rows: 3; --bg-rows: 3; --bg-rowsMobile: 9;">
            <div class="chart-labels">
              <span class="chart-labels__y">
                Affordable
                <span>(20k - 150k EUR)</span>
              </span>
              <span class="chart-labels__x chart-labels__x--right">
                Premium <br>websites
              </span>
            </div>
            <div class="chart-techs">
              <div class="chart-tech chart-tech--fr">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/FR.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Focus Reactive</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Storyblok.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Storyblok</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Sanity.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Sanity</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Contenful.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Contenful</div>
                </div>
              </div>
            </div>

            <div class="chart-content">
              <div class="chart-content__inner">
                <ul>
                  <li>Budget: 20-150k</li>
                  <li>Premium scalability with pre-built plugins</li>
                  <li>Efficient, expert tech stack integration</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="chart__item" style="--columns: 7.2; --columnsMobilePercent: 100; --rows: 4; --bg-rows: 7; --bg-rowsMobile: 12;">
            <div class="chart-labels">
              <span class="chart-labels__y">
                Super <br>expensive
                <span>(200k EUR - <em>∞</em>)</span>
              </span>
              <span class="chart-labels__x">
                Enterprise
              </span>
            </div>
            <div class="chart-techs">
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/adobe.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Adobe</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/salesforce.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Salesforce</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Umbraco.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Umbraco</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/bloomreach.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Bloomreach</div>
                </div>
              </div>
            </div>

            <div class="chart-content">
              <div class="chart-content__inner">
                <ul>
                  <li>Complex integrations</li>
                  <li>Scale</li>
                  <li>Enterprise security</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="chart__bottom-left">
          <div class="chart__item" style="--columns: 7; --columnsMobilePercent: 56; --rows: 2; --bg-rows: 5; --bg-rowsMobile: 3;">
            <div class="chart-labels">
              <span class="chart-labels__y">
                Cheap
                <span>(under 5k EUR)</span>
              </span>
              <span class="chart-labels__x">
                Generic <br>websiter
              </span>
            </div>
            <div class="chart-techs">
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Blogger.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Blogger</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Squarespace.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Squarespace</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Weebly.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Weebly</div>
                </div>
              </div>
            </div>
            <div class="chart-content">
              <div class="chart-content__inner">
                <ul>
                  <li>Simple interface</li>
                  <li>Quick setup</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="chart__item " style="--columns: 5.2; --columnsMobilePercent: 77; --rows: 3; --bg-rows: 3; --bg-rowsMobile: 6;">
            <div class="chart-labels">
              <span class="chart-labels__y">
                Low budget
                <span>(5k - 20k EUR)</span>
              </span>
              <span class="chart-labels__x">
                Website <br>builders
              </span>
            </div>
            <div class="chart-techs">
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Webflow.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Webflow</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/Wix.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>Wix</div>
                </div>
              </div>
              <div class="chart-tech">
                <div class="chart-tech__img">
                  <img src="/assets/img/chart/WordPress.svg" alt="">
                </div>
                <div class="chart-tech__title">
                  <div>WordPress</div>
                </div>
              </div>
            </div>
            <div class="chart-content">
              <div class="chart-content__inner">
                <ul>
                  <li>Standart solutions</li>
                  <li>No unique features</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="chart__bottom-right"></div>
      </div>
    </div>
  </div>
</section>
