<section
  class="clients is-light js-scroll-header"
  id="clients"
  data-section="clients"
>
  <div class="container">
    <h2 class="clients__title">{{ accourdionData.title }}</h2>
  </div>

  <ul class="clients-cases clients-acordion">
    {% for case in accourdionData.cases %}
    <li class="clients-cases__item clients-acordion__item js-accordion-item">
      <div class="clients-acordion__item_inner">
        <div class="container">
          <div class="clients-cases__left">
            <h3 class="clients-cases__name">{{case.name}}</h3>
          </div>
          <div class="clients-cases__right">
            <h3 class="clients-cases__title">{{case.title}}</h3>

            <div class="clients-cases__problems">
              {% for problem in case.elements %}
              <p>{{ problem | safe }}</p>
              {% endfor %}
            </div>

            {% if case.link %} {% if case.linkTitle %}
            <a href="{{ case.link }}" class="btn btn--primary"
              >{{ case.linkTitle }}</a
            >
            {% endif %} {% endif %}
          </div>
        </div>
        <div
          class="clients-acordion__item_trigger js-accordion-item-trigger"
        ></div>
      </div>
    </li>
    {% endfor %}
  </ul>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script>
      var $item = $('.js-accordion-item');

      $item.on('click', function(e){
        if($(this).hasClass('active')){
          $(this).removeClass('active');
          $(this).find('.clients-cases__right').slideUp();
        } else {
          $(this).toggleClass('active').siblings().removeClass('active').find('.clients-cases__right').slideUp();
          $(this).find('.clients-cases__right').slideDown();
        }
      });
  </script>
</section>
