<section class="clients is-light js-scroll-header" id="clients" data-section="clients">
  <div class="container">
    <h2 class="clients__title">{{ workPageTitle }}</h2>
    <p class="clients__subtitle">{{ workPageDescription }}</p>
  </div>
  <ul class="clients-cases">
    {% for case in workPageCategories.categories %}
    <li class="clients-cases__item">
      <div class="container">
        <div class="clients-cases__left">
          <h3 class="clients-cases__name">{{case.name}}</h3>
        </div>
        <div class="clients-cases__right">
          <h3 class="clients-cases__title">{{case.descriptionTitle}}</h3>

          <div class="clients-cases__problems">
            {% for problem in case.descriptionElements %}
            <p>{{ problem }}</p>
            {% endfor %}
          </div>

          {% if case.linkUrl %} {% if case.linkTitle %}
          <a href="{{ case.linkUrl }}" class="btn btn--primary">{{ case.linkTitle }}</a>
          {% endif %} {% endif %}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

  <div class="clients__footer text-center">
    <a href="{{ workPageCategories.link }}" class="btn btn--primary"
      >{{ workPageCategories.linkTitle }}</a
    >
  </div>
</section>
