<section class="content_2_col is-light js-scroll-header {% sectionClasses columnsData %}">
  <div class="container">
    {% if columnsData.topTitle %}
    <div class="content_2_col__head">
      <h2 class="text text--font-lg text--border-dark">{{columnsData.topTitle}}</h2>
    </div>
    {% endif %}
    {% if columnsData.paragraphs.length > 0 %}
    <div class="content_2_col__col content_2_col__col_1">
      <h2 class="content_2_col__subtitle">{{ columnsData.title }}</h2>
      <div class="content_2_col__text {{ columnsData.textSize }}">
        {% for paragraph in columnsData.paragraphs %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if columnsData.video %}
    <div class="content_2_col__col content_2_col__col_2">
      <video
        autoplay
        loop
        muted
        playsinline
        title="{{ columnsData.title }}"
        poster="{{ columnsData.image | imgURL }}">
        <source src="{{ columnsData.video | videoURL }}" type="video/mp4" />
      </video>
    </div>
    {% endif %}
    {% if columnsData.image %}
    <div class="content_2_col__col content_2_col__col_2">
      <img src="{{ columnsData.image | imgURL }}" alt="{{ columnsData.title }}" />
    </div>
    {% endif %}
  </div>

  {% if columnsData.link %}
  <div class="content_2_col__link-container">
    <a class="btn btn--primary" href="{{ columnsData.link }}">{{columnsData.linkTitle}}</a>
  </div>
  {% endif %}
</section>
