<section id="core-sdk" data-section="core-sdk" class="sec-core-sdk section js-scroll-header {% sectionClasses coreSdkData %} ">
  <div class="container container--sm">
    <div class="section__head">
      <h2 class="title title--xxs text-center">{{coreSdkData.title}}</h2>
    </div>
    <div class="core-sdk">
      {% for item in coreSdkData.items %}
      <a href="#" class="core-sdk__item">
        <div class="core-sdk__title">{{item.title}}</div>

        {% if item.logos.length > 0 %}
        <div class="core-sdk__logos">
          {% for img in item.logos %}
          <img src="{{img.image}}" alt="">
          {% endfor %}
        </div>
        {% endif %}

        {% if item.text %}
        <div class="core-sdk__text styled-text">
          {{item.text | blockContent}}
        </div>
        {% endif %}

      </a>
      {% endfor %}
      <a href="{{coreSdkData.npmLink}}" class="core-sdk__head">
        <div class="core-sdk__head-title">{{coreSdkData.titleInCircle}}</div>
        <div class="core-sdk__head-link">
          <img src="/assets/img/chart/npm.svg" alt="">
          <span>{{coreSdkData.npmTitle}}</span>
        </div>
      </a>
    </div>
  </div>
</section>
