<section id="core-sdk" data-section="core-sdk" class="sec-core-sdk section js-scroll-header {% sectionClasses coreSdkData %} ">
  <div class="container container--sm">

    <div class="core-sdk">
      {% for item in coreSdkData.items %}
      <a href="#" class="core-sdk__item">
        <div class="core-sdk__title">{{item.title}}</div>

        <div class="core-sdk__logos">
          {% for img in item.logos %}
          <img src="{{img.image}}" alt="">
          {% endfor %}
        </div>

      </a>
      {% endfor %}
      <a href="{{coreSdkData.link}}" class="core-sdk__head">
        <div class="core-sdk__head-title">{{coreSdkData.title}}</div>
        <div class="core-sdk__head-link">
          <img src="/assets/img/chart/npm.svg" alt="">
          <span>{{coreSdkData.titleLink}}</span>
        </div>
      </a>
    </div>
  </div>
</section>
