<section id="core-sdk" data-section="core-sdk" class="sec-core-sdk section is-dark js-scroll-header ">
  <div class="container container--sm">
    <div class="core-sdk">

      <a href="#" class="core-sdk__item">
        <div class="core-sdk__title">Headless CMS Integration</div>
        <div class="core-sdk__logos">
          <img src="/assets/img/chart/Sanity.svg" alt="">
          <img src="/assets/img/chart/Storyblok.svg" alt="">
          <img src="/assets/img/chart/Contenful.svg" alt="">
          <img src="/assets/img/chart/chart-img-2.svg" alt="">
        </div>
      </a>
      <a href="#" class="core-sdk__item">
        <div class="core-sdk__title">Frontend Biolerplate</div>
        <div class="core-sdk__logos">
          <img src="/assets/img/chart/react.svg" alt="">
          <img src="/assets/img/chart/next.svg" alt="">
          <img src="/assets/img/chart/r.svg" alt="">
          <img src="/assets/img/chart/shopify.svg" alt="">
        </div>
      </a>
      <a href="#" class="core-sdk__item">
        <div class="core-sdk__title">Functional Blocks, API, Helpers</div>
      </a>
      <a href="#" class="core-sdk__item">
        <div class="core-sdk__title">Pluggable Component Set</div>
        <div class="core-sdk__logos">
          <img src="/assets/img/chart/chart-img-3.svg" alt="">
          <img src="/assets/img/chart/chart-img-4.svg" alt="">
          <img src="/assets/img/chart/style.svg" alt="">
        </div>
      </a>
      <a href="#" class="core-sdk__head">
        <div class="core-sdk__head-title">Core SDK</div>
        <div class="core-sdk__head-link">
          <img src="/assets/img/chart/npm.svg" alt="">
          <span>@focus-reactive|/cms-kit</span>
        </div>
      </a>
    </div>
  </div>
</section>
