<section id="cta-block" data-section="cta-block" class="section sec-cta is-dark js-scroll-header pt-0 {% sectionClasses ctaBlockData %}">
  <div class="container container--sm">
    <div class="cta-block">
      <div class="cta-block__text">
        The new website will be launched, you will receive an invitation to your admin group.
      </div>
      <div class="cta-block__button">
        <a href="#" class="btn btn--primary btn--md">Get started</a>
      </div>
    </div>
  </div>
</section>
