<section class="section is-dark js-scroll-header {% sectionClasses %}">
  <div class="container container--sm">
    <div class="section__head">
      <h2 class="title title--xxs title--light text-center">{{faqData.title}}</h2>
    </div>

    <div class="spoller" data-spollers data-one-spoller>
      {% for item in faqData.items %}
      <div class="spoller__item">
        <div class="spoller__head " data-spoller>
          <div class="spoller__title">{{item.title}}</div>
        </div>
        <div class="spoller__body" data-spoller-content>
          {{item.richText | blockContent}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
