<footer class="footer">

   <div class="f-top container">
      <div class="f-menu">

         {% for menuList in footerData.navigation %}
         <div class="f-menu__item">
            <div class="f-menu__title">{{menuList.title}}</div>
            <ul class="f-menu__list">
               {% for menuItem in menuList.links %}
               <li>
                  <a href={{menuItem.link}}>{{menuItem.title}}</a>
               </li>
               {% endfor %}

            </ul>
         </div>
         {% endfor %}

      </div>
   </div>

   <div class="f-bottom container">
      <p class="f-copyright">{{footerData.copyInfo}}</p>
      <div class="f-info">{{footerData.contactInfo}}</div>

      <div class="clutch-widget" data-url="https://widget.clutch.co" data-widget-type="1" data-height="40" data-nofollow="true" data-expandifr="true" data-scale="100" data-clutchcompany-id="1262793"></div>

   </div>
</footer>