<section id="form-block" data-section="form-block"
  class="section sec-form js-scroll-header {% sectionClasses formBlockData %}">
  <div class="container container--sm">
    <form class="form-block">
      <div class="form-block__text">
        {{formBlockData.text}}
      </div>
      <div class="form-block__field">
        <input type="email" placeholder="your email" class="form-input">
      </div>
      <div class="form-block__button">
        <button type="submit" class="btn btn--primary btn--md">{{formBlockData.btnText}}</button>
      </div>
      <script>
        document.querySelector('.form-block').addEventListener('submit', function (e) {
          e.preventDefault();
          var email = document.querySelector('.form-input').value;
          console.log(email);
        });
      </script>
    </form>
  </div>
</section>
