<section class="full-width-image js-scroll-header">
  <div class="container">
    <img
      class="full-width-image__image"
      src="{{ fullWidthImageData.image | imgURL }}"
      loading="lazy"
    >

    <h4 class="full-width-image__text {{ 'colored' if fullWidthImageData.colored }} {{ 'shadow' if fullWidthImageData.titleShadow }}">
      {{ fullWidthImageData.title }}
    </h4>
  </div>
</section>
