<!-- begin products -->
<section
  id="grid-columns"
  data-section="grid-columns"
  class="section sec-grid-columns js-scroll-header {% sectionClasses gridColumnsData %}"
>
  <div class="container">
    <h3 class="title title--xs text-center">{{gridColumnsData.title}}</h3>
  </div>

  <div class="grid-columns">
    {% for item in gridColumnsData.items %} {% set bg = item.backgroundColor %}
    <a
      class="grid-columns__item"
      href="{{item.link}}"
      style="--hover-color: {{item.hoverColor | d('#0ac526')}}; --background-color: {{item.backgroundColor | d('transparent')}}"
    >
      {% if item.image %}
      <div
        class="grid-columns__item grid-columns__item--img"
        style="background-image: url({{item.image | imgURL}}); background-size: {{item.imagePosition | d('cover')}}"
      ></div>
      {% else %}

      <div class="grid-columns__container">
        <h3 class="grid-columns__title">{{item.title}}</h3>
        <p class="grid-columns__desc">{{ item.description }}</p>
      </div>
      {% endif %}
    </a>
    {% endfor %}
  </div>
</section>
<!-- end products -->
