<!-- begin hero -->
<section id="home" data-section="home" class="hero-response is-dark js-scroll-header {% sectionClasses heroWidhVideoData %}">
  <div class="container">
    <div class="hero__inner hero__inner--center">
      <h1 class="hero__title_landing">
        <span>{{heroWidhVideoData.title}}</span>
      </h1>
      <h2 class="hero__subtitle_landing">{{heroWidhVideoData.subTitle}}</h2>
    </div>

    <div class="hero__video">
      {{heroWidhVideoData.video}}
    </div>
  </div>


</section>
<!-- end hero -->
