<!-- begin hero -->
<section id="home" data-section="home" class="hero is-dark js-scroll-header {{heroMod}}">
  <div class="hero__bg hero-bg--image" style="background-image: url({{ heroData.image | imgURL }})"></div>
  <div class="container">
    <div class="hero__inner {{ heroData.titlePosition }}">
      <h1 class="hero__title_landing" style="color: {{ heroData.titleColor }}">
        {% for line in heroData.titleLines %}
        <span
          data-disable-custom-style="{{heroData.isCustomFirstLineDisabled}}"
          data-inherit-color="{% if heroData.titleColor %}true{% endif %}"
          data-title-shadow="{% if heroData.titleShadow %}true{% endif %}"
          >{{ line }}</span
        >
        {% endfor %}
      </h1>
    </div>
  </div>

  {% if data._id != 'ce0e4726-6b0f-4d3d-b726-d580a64b15a2' %}
  <div class="hero__logos">
    <div class="container">
      <div class="hero__logos_inner">
        <p>Official partners</p>
        <div class="hero__logos_box">
          {% for partner in heroData.partners %}
          <div class="hero__logos-item">
            <img width="197" src="{{ partner.image | imgURL }}" alt="{{ partner.name }}" />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</section>
<!-- end hero -->
