<section id="journal" data-section="journal" class="journal is-dark js-scroll-header">
  <div class="journal__inner">
    <div class="container">
      <div class="journal__title">
        <h2 class="title title--md title--light">Journal</h2>
      </div>
      <div class="journal__subtitle">
        <h3 class="title title--xs">
          We designed PxWorkshop to teach participants <br />
          reactive patterns, practice stream and think <br />
          reactively.
        </h3>
      </div>
    </div>
    <div class="journal__links">
      <a href="#." class="journal-link" target="_blank">
        <div class="container">
          <h3 class="journal-link__title">
            Converter IPod <br />
            video
          </h3>
          <p class="journal-link__desc">
            Expert advice on implementing the newest <br />
            technologies.
          </p>
        </div>
      </a>
      <a href="#." class="journal-link" target="_blank">
        <div class="container">
          <h3 class="journal-link__title">Monitoring software</h3>
          <p class="journal-link__desc">
            Helping you design and deliver great solutions <br />
            to the customers.
          </p>
        </div>
      </a>
    </div>
  </div>
</section>
