<section class="sec-last-clients is-light js-scroll-header">
   <div class="container">
      <h2 class="sec-last-clients__title title title--dark title--xs">Helping our clients scale their tech efficiently</h2>

      <div class="last-clients sec-last-clients__list">
         {% for clientLogo in clientLogos %}
         <a href="{{clientLogo.url}}" class="last-clients__item" target="{{'_blank' if clientLogo.target}}">
            <img src="{{clientLogo.img}}" alt="{{clientLogo.alt}}">
         </a>
         {% endfor %}
      </div>
   </div>
</section>