<section class="sec-last-clients is-dark">
   <div class="container">
      <h3 class="sec-last-clients__title title title--dark title--xs">Helping our clients scale their tech efficiently</h3>

      <div class="last-clients sec-last-clients__list">
         {% for clientLogo in clientLogos %}
         <a href="{{clientLogo.url}}" class="last-clients__item" target="{{'_blank' if clientLogo.target}}">
            <img src="{{clientLogo.img}}" alt="">
         </a>
         {% endfor %}
      </div>
   </div>
</section>