<meta name="keywords" content="{{ keywords }}" />
<meta name="description" content="{{ description }}" />

<!-- Twitter Card data -->
<meta name="twitter:site" content="{{ twitter_publisher }}" />
<meta name="twitter:card" content="summary_large_image" />

<!-- Open Graph data -->
<meta property="og:title" content="{{ title }}" />
<meta property="og:url" content="{{ og_url }}" />
<meta property="og:image" content="{{ og_image }}" />
<meta property="og:description" content="{{ description }}" />
