<section id="contacts" class="offices is-light js-scroll-header">
  <div class="container office js-office">
    {% for office in offices %}
    <div
      class="office__item {{ 'visible' if loop.first }}"
      data-city="{{ office.title }}"
      data-lat="{{ office.lat }}"
      data-lng="{{ office.lng }}">
      <h3 class="office__title">{{ office.title }}</h3>
      <p class="office__info">{{ office.tel }}<br />{{ office.address }}</p>
      <a class="office__mail" href="mailto:{{ office.email }}">{{ office.email }}</a>
    </div>
    {% endfor %}
  </div>

  <div class="map js-map">
    <script>
      function initMap() {
        var zoom, infoSizeX, infoSizeY;
        if (window.innerWidth > 1200) {
          (zoom = 5), 8;
          infoSizeX = 507;
          infoSizeY = 226;
        } else if (window.innerWidth > 1023) {
          zoom = 5;
          infoSizeX = 507 * 0.7;
          infoSizeY = 226 * 0.7;
        } else if (window.innerWidth > 767) {
          zoom = 4;
          infoSizeX = 507 * 0.5;
          infoSizeY = 226 * 0.5;
        } else if (window.innerWidth > 699) {
          zoom = 3;
          infoSizeX = 507 * 0.5;
          infoSizeY = 226 * 0.5;
        } else {
          zoom = 2;
          infoSizeX = 507 * 0.28;
          infoSizeY = 226 * 0.28;
        }
        const mapDiv = document.querySelector('.js-map');
        const map = new google.maps.Map(mapDiv, {
          center: { lat: 56.0, lng: 20.0 },
          zoom: zoom,
          scrollwheel: false,
          disableDefaultUI: true,
          disableDoubleClickZoom: true,
          zoomControl: false,
          draggable: true,
        });

        var styles = [
          {
            featureType: 'administrative',
            elementType: 'labels.text.fill',
            stylers: [
              {
                color: '#444444',
              },
            ],
          },
          {
            featureType: 'landscape',
            elementType: 'all',
            stylers: [
              {
                color: '#f2f2f2',
              },
            ],
          },
          {
            featureType: 'poi',
            elementType: 'all',
            stylers: [
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'poi',
            elementType: 'labels.text',
            stylers: [
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'road',
            elementType: 'all',
            stylers: [
              {
                saturation: -100,
              },
              {
                lightness: 45,
              },
            ],
          },
          {
            featureType: 'road.highway',
            elementType: 'all',
            stylers: [
              {
                visibility: 'simplified',
              },
            ],
          },
          {
            featureType: 'road.arterial',
            elementType: 'labels.icon',
            stylers: [
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'transit',
            elementType: 'all',
            stylers: [
              {
                visibility: 'off',
              },
            ],
          },
          {
            featureType: 'water',
            elementType: 'all',
            stylers: [
              {
                color: '#dbdbdb',
              },
              {
                visibility: 'on',
              },
            ],
          },
        ];

        const image = {
          url: '/assets/img/marker.svg',
          anchor: new google.maps.Point(26, 81),
          scaledSize: new google.maps.Size(52, 81),
        };

        const officesWrap = document.querySelector('.js-office');

        const offices = [...officesWrap.children].map((element) => {
          const location = element.dataset;

          const marker = new google.maps.Marker({
            position: new google.maps.LatLng(location.lat, location.lng),
            map,
            title: location.title,
            icon: '/assets/img/marker.svg',
          });

          google.maps.event.addListener(marker, 'click', () => {
            reset();
            select({ element, marker });
          });

          return {
            element,
            location,
            marker,
          };
        });

        select(offices[0]);

        function select({ element, marker }) {
          marker.setIcon('/assets/img/marker2.svg');
          element.classList.add('visible');
        }

        function reset() {
          offices.forEach(({ element, marker }) => {
            element.classList.remove('visible');
            marker.setIcon('/assets/img/marker.svg');
          });
        }

        map.setOptions({ styles: styles });

        // google.maps.event.addListener(markerAmsterdam, 'click', function (marker, i) {
        // 	for (var i = 0; i < offices.length; i++) {

        // 		offices[i].classList.remove('visible');

        // 		if (offices[i].dataset.city == this.title) {
        // 			offices[i].classList.add('visible');
        // 		}
        // 	}
        // });
      }
    </script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script> -->
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9OZ9xKEBkeoBw6hPjPzz13i0hZbT2LOs&callback=initMap"
      type="text/javascript"></script>
  </div>
</section>
