<div id="opensource" data-section="opensource" class="open-source is-light js-scroll-header">
  <div class="container">
    <h2 class="open-source__title text text--font-xl text--border-dark">
      Our Open Source contributions
    </h2>
  </div>
  <div class="open-source__projects">
    <div class="open-source__note">Projects</div>

    <a
      href="https://github.com/PixelsCommander/ReactiveElements"
      class="project-link"
      target="_blank"
    >
      <div class="project-link__inner container">
        <div class="project-link__col-left">
          <h3 class="project-link__title">Reactive Elements</h3>
          <div class="project-link__desc">Convert React.js components into Web Components</div>
        </div>
        <div class="project-link__col-right">
          <p class="project-link__note">PixelsCommander/ReactiveElements</p>
          <div class="project-link__github">
            <div class="github-repo-button" repo="PixelsCommander/ReactiveElements" watchers></div>
            <div class="github-repo-button" repo="PixelsCommander/ReactiveElements" stars></div>
            <div class="github-repo-button" repo="PixelsCommander/ReactiveElements" forks></div>
          </div>
        </div>
      </div>
    </a>
    <a
      href="https://github.com/react-theming/storybook-addon-material-ui"
      class="project-link"
      target="_blank"
    >
      <div class="project-link__inner container">
        <div class="project-link__col-left">
          <h3 class="project-link__title">Storybook Material-UI</h3>
          <div class="project-link__desc">The core of React Theming project</div>
        </div>
        <div class="project-link__col-right">
          <p class="project-link__note">react-theming/storybook-addon-material-ui</p>
          <div class="project-link__github">
            <div
              class="github-repo-button"
              repo="react-theming/storybook-addon-material-ui"
              watchers
            ></div>
            <div
              class="github-repo-button"
              repo="react-theming/storybook-addon-material-ui"
              stars
            ></div>
            <div
              class="github-repo-button"
              repo="react-theming/storybook-addon-material-ui"
              forks
            ></div>
          </div>
        </div>
      </div>
    </a>
    <a
      href="https://github.com/storybookjs/storybook-addon-console"
      class="project-link"
      target="_blank"
    >
      <div class="project-link__inner container">
        <div class="project-link__col-left">
          <h3 class="project-link__title">Storybook Addon Console</h3>
          <div class="project-link__desc">2M+ downloads</div>
        </div>
        <div class="project-link__col-right">
          <p class="project-link__note">storybooks/storybook-addon-console</p>
          <div class="project-link__github">
            <div
              class="github-repo-button"
              repo="storybooks/storybook-addon-console"
              watchers
            ></div>
            <div class="github-repo-button" repo="storybooks/storybook-addon-console" stars></div>
            <div class="github-repo-button" repo="storybooks/storybook-addon-console" forks></div>
          </div>
        </div>
      </div>
    </a>

    <!--        <div class="open-source__plus-link">-->
    <!--            <a href="#." class="plus-link" target="_blank">-->
    <!--                <img src="img/plus.png" alt="add icon"/>-->
    <!--            </a>-->
    <!--        </div>-->
  </div>
</div>
