<section id="our-mission" data-section="our-mission" class="sec-our-mission section js-scroll-header {% sectionClasses ourMissionData %}">

  <div class="container container--sm">
    <div class="our-mission">
      <div class="our-mission__content">
        <h2 class="title title--left title--xxxs">{{ourMissionData.title}}</h2>
        <div class="our-mission__text">
          {{ourMissionData.richText | blockContent}}
        </div>
      </div>
      <div class="our-mission__img">
        <img src="{{ourMissionData.bgImage}}" alt="{{ourMissionData.title}}" role="presentation">
      </div>
    </div>
  </div>
</section>
