<section id="our-mission" data-section="our-mission" class="sec-our-mission section is-dark js-scroll-header ">
  <div class="container container--sm">
    <div class="our-mission">
      <div class="our-mission__content">
        <h2 class="title title--left title--xxxs">Our mission:</h2>
        <div class="our-mission__text">
          <ul>
            <li>Ensure headless CMS is accessible to all</li>
            <li>Simplify setup processes for developers</li>
            <li>Enable managers to deploy projects with a single click</li>
            <li>Provide content creators with a clear, structured workflow</li>
          </ul>
        </div>
      </div>
      <div class="our-mission__img">
        <img src="/assets/img/our-mission-bg.png" alt="">
      </div>
    </div>
  </div>
</section>
