<section id="pains-gains" data-section="pains-gains" class="section sec-pains-gains is-dark js-scroll-header {% sectionClasses painsGainsData %}">
  <div class="container container--sm">
    <div class="section__head">
      <h2 class="title title--xxs text-ceter">We also solve all your headaches</h2>
    </div>

    <div class="pains-gains">
      <div class="pains-gains__item">
        <div class="pains-gains__minus">
          The content model impacts both tech and editorial experiences, influencing project scalability and convenience
        </div>
        <div class="pains-gains__plus">
          CMS-KIT offers SEO-optimized schemas for modular landing pages
        </div>
      </div>
    </div>
  </div>
</section>
