<!-- begin products -->
<section id="products" data-section="products" class="products is-dark js-scroll-header">
    <div class="container">
        <h3 class="title title--light title--xs">
			{% for line in products.titleTextLines %}
				{% if loop.last == false %}
						{{line}}<br/>
				{% endif %}
                {% if loop.last == true %}
					{{line}}
				{% endif %}
            {% endfor %}
        </h3>
    </div>

    <div class="products-list">
		{% for product in products.products %}
			<a class="products-list__item" href="{{product.link}}">
				<div class="products-list__container">
					<h3 class="products-list__title">
						{% for line in product.titleTextLines %}
							{% if loop.last == false %}
									{{line}}<br/>
							{% endif %}
							{% if loop.last == true %}
								{{line}}
							{% endif %}
						{% endfor %}
					</h3>
					<p class="products-list__desc">{{ product.description }}</p>
				</div>
			</a>
		{% endfor %}
    </div>

	<div class="products__footer text-center">
	    <a href="{{ products.buttonUrl }}" class="btn btn--primary">{{ products.buttonText }}</a>
	</div>
</section>
<!-- end products -->
