<section id="pyramid" data-section="pyramid" class="section sec-pyramid js-scroll-header {% sectionClasses pyramidData %}">
  <div class="container container--sm">
    <div class="section__head">
      <h2 class="title title--xxs text-center">{{pyramidData.title}}</h2>
    </div>
    <div class="pyramid">
      {% for item in pyramidData.items %}
      <button class="pyramid__head pyramid__head--{{loop.index}} js-pyramid-toggle {{'is-active' if loop.index === 3}}" data-pyramid-index="{{loop.index}}">
        <div class="pyramid__figure">
          {% if loop.index === 1 %}
          <svg xmlns="http://www.w3.org/2000/svg" width="188" height="170" viewBox="0 0 188 170" fill="none">
            <path class="p-end" d="M168 169.814H0L91.5 0L188 150.5L168 169.814Z" fill="#B70054" />
            <path class="p-front" d="M168 169.814H0L91.5296 0L168 169.814Z" fill="#FF0075" />
          </svg>
          {% elseif loop.index === 2 %}
          <svg xmlns="http://www.w3.org/2000/svg" width="378" height="173" viewBox="0 0 378 173" fill="none">
            <path class="p-top" d="M80.5 23.5L0 172.661H336.454L375.5 130.5L292 0.5L130.5 0L80.5 23.5Z" fill="#00B21B" />
            <path class="p-end" d="M83.9346 23.5833L0 172.661H336.5L377.5 132L292 0.5L269.5 23.5833H83.9346Z" fill="#009C17" />
            <path class="p-front" d="M80.5 23.5L0 172.66H336.616L269.5 23.5H80.5Z" fill="#0AC526" />
          </svg>
          {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" width="560" height="193" viewBox="0 0 560 193" fill="none">
            <path class="p-top" d="M81 42.5L0.355469 192.567H506.27L559.5 122.5L480.5 0L165.5 0.5L81 42.5Z" fill="#3C00C6" />
            <path class="p-end" d="M88.5373 42.8687L0.355469 193.067H506.259L559.5 123L480.5 0.5L438.5 43L88.5373 42.8687Z" fill="#3100A1" />
            <path class="p-front" d="M81 43L0 193.067H506.271L438.666 43H81Z" fill="#4707D8" />
          </svg>
          {% endif %}
        </div>

        {{item.title}}
      </button>
      <div class="pyramid__content  styled-text {{'is-active' if loop.index === 3}}">
        {{item.richText | blockContent}}
      </div>
      {% endfor %}

    </div>

    <div class="pyramid-pagination js-pyramid-pagination">
      <span class="is-active" data-pyramid-pagination-index="3"></span>
      <span data-pyramid-pagination-index="2"></span>
      <span data-pyramid-pagination-index="1"></span>
    </div>
  </div>
</section>
