<section class="reviews is-light js-scroll-header">
  <div class="container">
    <h2 class="reviews__title text-center text--border-dark">{{ reviewsData.title }}</h2>
    <div class="reviews__cards">
      {% for element in reviewsData.elements %}
      <div class="reviews__card">
        <div
          class="reviews__card_image"
          style="background-image: url({{ element.image | imgURL }})"
        ></div>
        <div class="reviews__card_inner">
          <h4 class="reviews__card_title">{{ element.name }}</h4>
          <h4 class="reviews__card_subtitle text--border-dark">{{ element.role }}</h4>
          <p class="reviews__card_text">{{ element.text }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
