<section class="reviews reviews_single is-light js-scroll-header">
  <div class="container">
    <h2 class="reviews__title text-center text--border-dark">{{ reviewData.title }}</h2>
    <p class="reviews__text text-center">{{ reviewData.text }}</p>
    <div class="reviews__cards">
      <div class="reviews__card">
        <div
          class="reviews__card_image"
          style="background-image: url({{ reviewData.image | imgURL }})"
        ></div>
        <div class="reviews__card_inner">
          <h4 class="reviews__card_title">{{ reviewData.name }}</h4>
          <h4 class="reviews__card_subtitle text--border-dark">{{ reviewData.role }}</h4>
        </div>
      </div>
    </div>
  </div>
</section>
