<!-- begin social -->
<div class="social">
  <ul class="social__links">
    <li class="social__item">
      <a href="https://twitter.com/focusreactive" class="social__link" target="_blank">Twitter</a>
    </li>
    <li class="social__item">
      <a href="https://www.linkedin.com/company/focusreactive" class="social__link" target="_blank"
        >LinkedIn</a
      >
    </li>
    <!--<li class="social__item"><a href="#." class="social__link" target="_blank">Facebook</a></li>-->
    <!--<li class="social__item"><a href="#." class="social__link" target="_blank">Github</a></li>-->
  </ul>
</div>
<!-- end social -->
