<!-- begin summary -->
<section id="services" data-section="services" class="summary is-dark js-scroll-header">
    <div class="summary__inner">
        <div class="summary__title container">
            <h2 class="title title--light title--xs">{{ summary.title }}</h2>
        </div>
        <div class="summary__links">
            <!-- {% for item in summary.items %}
				<div class="summary__link">
                    <h2 class="summary__name text text--font-lg">{{ item.title }}</h2>
                    <p class="summary__description">{{ item.description }}</p>
                </div>
            {% endfor %} -->
			<a href="/next-js-experts/" class="summary__link">
				<h2 class="summary__name text text--font-lg">Content-centric websites</h2>
				<p class="summary__description">Deep experience building extendable, SEO optimized content and marketing websites with advanced CMS integrations and analytics</p>
			</a>
			<a href="/headless-ecommerce-experts/" class="summary__link">
				<h2 class="summary__name text text--font-lg">Headless eCommerce</h2>
				<p class="summary__description">Next-generation, content-rich, and performant online eCommerce websites with end-to-end integrations</p>
			</a>
			<a href="/headless-cms-agency/" class="summary__link">
				<h2 class="summary__name text text--font-lg">Headless CMS Consulting</h2>
				<p class="summary__description">Multi-channel CMS development, modelling, customization, and support</p>
			</a>
			<div class="summary__link">
				<h2 class="summary__name text text--font-lg">Web Performance</h2>
				<p class="summary__description">Auditing, architecture transformation, optimization for 100 scope core web vitals</p>
			</div>
        </div>
        <div class="summary__footer text-center">
          <a href="{{ summary.buttonUrl }}" class="btn btn--primary">{{ summary.buttonText }}</a>
        </div>
    </div>
</section>
<!-- end summary -->
