<!-- begin summary -->
<section id="services" data-section="services" class="summary is-dark js-scroll-header">
  <div class="summary__inner">
    <div class="summary__title container">
      <h2 class="title title--light title--xs">{{ summary.title }}</h2>
    </div>

    <div class="summary__links">
      {% for item in summary.items %} {% if item.link %}
      <a href="{{ item.link }}" class="summary__link">
        <h2 class="summary__name text text--font-lg">{{ item.title }}</h2>
        <p class="summary__description">{{ item.description }}</p>
      </a>
      {% else %}
      <div class="summary__link">
        <h2 class="summary__name text text--font-lg">{{ item.title }}</h2>
        <p class="summary__description">{{ item.description }}</p>
      </div>
      {% endif %} {% endfor %}

      <div class="summary__footer text-center">
        <a href="{{ summary.buttonUrl }}" class="btn btn--primary">{{ summary.buttonText }}</a>
      </div>
    </div>
  </div>
</section>
<!-- end summary -->
