all.csshtml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
}

input[type=submit],
button {
  cursor: pointer;
}
input[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica.woff2") format("woff2"), url("../fonts/helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/helvetica-bold.woff2") format("woff2"), url("../fonts/helvetica-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
github-repo-button, .github-repo-button, [github-repo-button] {
  border: 1px solid rgba(27, 31, 35, 0.2) !important;
  line-height: 1;
  border-radius: 0 !important;
  display: inline-flex;
  font-family: sans-serif !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}
@media only screen and (max-width: 767px) {
  github-repo-button, .github-repo-button, [github-repo-button] {
    font-size: 10px !important;
  }
}
github-repo-button + github-repo-button, github-repo-button + .github-repo-button, github-repo-button + [github-repo-button], .github-repo-button + github-repo-button, .github-repo-button + .github-repo-button, .github-repo-button + [github-repo-button], [github-repo-button] + github-repo-button, [github-repo-button] + .github-repo-button, [github-repo-button] + [github-repo-button] {
  margin-left: 10px;
}
github-repo-button .gh-button-inside, .github-repo-button .gh-button-inside, [github-repo-button] .gh-button-inside {
  background-color: #eff3f6 !important;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%) !important;
  border-right: 1px solid rgba(27, 31, 35, 0.2) !important;
  color: #24292e !important;
  float: left !important;
  padding: 4px 10px 2px !important;
  text-decoration: none !important;
  cursor: pointer !important;
  user-select: none !important;
}
@media only screen and (max-width: 767px) {
  github-repo-button .gh-button-inside, .github-repo-button .gh-button-inside, [github-repo-button] .gh-button-inside {
    padding: 4px 5px 3px !important;
  }
}
github-repo-button .gh-button-inside:hover, .github-repo-button .gh-button-inside:hover, [github-repo-button] .gh-button-inside:hover {
  background-color: #e6ebf1 !important;
  background-image: linear-gradient(-180deg, #e6ebf1 0%, #e6ebf1 90%) !important;
  border: 1px solid rgba(27, 31, 35, 0.35) !important;
  border-radius: 0 !important;
  margin: -1px !important;
  margin-right: 0px !important;
}
github-repo-button .gh-button-inside:active, .github-repo-button .gh-button-inside:active, [github-repo-button] .gh-button-inside:active {
  border: 1px solid rgba(27, 31, 35, 0.35) !important;
  border-radius: 0 !important;
  margin: -1px !important;
  margin-right: 0px !important;
  background-color: #e9ecef !important;
  background-image: none !important;
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15) !important;
}
github-repo-button .gh-button-svg, .github-repo-button .gh-button-svg, [github-repo-button] .gh-button-svg {
  display: inline-block !important;
  vertical-align: middle !important;
  line-height: 1.4;
}
@media only screen and (max-width: 767px) {
  github-repo-button .gh-button-svg, .github-repo-button .gh-button-svg, [github-repo-button] .gh-button-svg {
    line-height: 1;
    font-size: 0;
  }
}
@media only screen and (max-width: 767px) {
  github-repo-button .gh-button-svg svg, .github-repo-button .gh-button-svg svg, [github-repo-button] .gh-button-svg svg {
    height: 12px;
  }
}
github-repo-button .gh-button-count, .github-repo-button .gh-button-count, [github-repo-button] .gh-button-count {
  color: #24292e !important;
  float: left !important;
  padding: 7px 10px 2px !important;
  text-decoration: none !important;
  background-color: #fff;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  github-repo-button .gh-button-count, .github-repo-button .gh-button-count, [github-repo-button] .gh-button-count {
    padding: 4px 8px 1px !important;
  }
}
github-repo-button .gh-button-count:hover, .github-repo-button .gh-button-count:hover, [github-repo-button] .gh-button-count:hover {
  color: #0366d6 !important;
}

/*# sourceMappingURL=github-repo-buttons.css.map */
