html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
}

input[type=submit],
button {
  cursor: pointer;
}
input[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica.woff2") format("woff2"), url("../fonts/helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/helvetica-bold.woff2") format("woff2"), url("../fonts/helvetica-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.title {
  font-family: "Helvetica Bold", Helvetica Bold, Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 599px) {
  .title {
    text-align: left;
  }
}
.title--dark {
  color: #181818;
}
.title--light {
  color: #ffffff;
}
.title--md {
  font-size: 80px;
  line-height: 1;
}
@media only screen and (max-width: 1280px) {
  .title--md {
    font-size: 60px;
  }
}
@media only screen and (max-width: 1366px) {
  .title--md {
    font-size: 48px;
  }
}
@media only screen and (max-width: 767px) {
  .title--md {
    font-size: 36px;
  }
}
@media only screen and (max-width: 599px) {
  .title--md {
    font-size: 30px;
  }
}
.title--xs {
  font-size: 38px;
  line-height: 1.16em;
  letter-spacing: -0.04em;
}
@media only screen and (max-width: 1280px) {
  .title--xs {
    font-size: 32px;
  }
}
@media only screen and (max-width: 1366px) {
  .title--xs {
    line-height: 1.2;
  }
}
@media only screen and (max-width: 767px) {
  .title--xs {
    font-size: 26px;
  }
}
@media only screen and (max-width: 599px) {
  .title--xs {
    font-size: 20px;
  }
}

.text--border-dark {
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px #000000;
  opacity: 0.8;
}
@media only screen and (max-width: 599px) {
  .text--border-dark {
    text-shadow: none;
    color: #181818;
    font-weight: bold;
    -webkit-text-stroke-width: 0;
  }
}
.text--border-light {
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px #fff;
  opacity: 0.8;
}
@media only screen and (max-width: 599px) {
  .text--border-light {
    text-shadow: none;
    -webkit-text-stroke-width: 0;
    color: #ffffff;
  }
}
.text--green {
  color: #0ac526;
}
.text--font-xl {
  font-size: 120px;
}
@media only screen and (max-width: 1280px) {
  .text--font-xl {
    font-size: 60px;
  }
}
.text--font-lg {
  font-size: 85px;
}
@media only screen and (max-width: 1366px) {
  .text--font-lg {
    font-size: 60px;
  }
}
@media only screen and (max-width: 840px) {
  .text--font-lg {
    font-size: 50px;
    font-size: calc(26px + (50 - 26) * ((100vw - 319px) / (800 - 319)));
  }
}
@media only screen and (max-width: 840px) and (max-width: 319px) {
  .text--font-lg {
    font-size: 26px;
  }
}
@media only screen and (max-width: 840px) and (min-width: 800px) {
  .text--font-lg {
    font-size: 50px;
  }
}
@media only screen and (max-width: 450px) {
  .text--font-lg {
    font-size: 25px;
    font-size: calc(22px + (25 - 22) * ((100vw - 319px) / (399 - 319)));
  }
}
@media only screen and (max-width: 450px) and (max-width: 319px) {
  .text--font-lg {
    font-size: 22px;
  }
}
@media only screen and (max-width: 450px) and (min-width: 399px) {
  .text--font-lg {
    font-size: 25px;
  }
}
.text--font-md {
  font-size: 78px;
}
@media only screen and (max-width: 1366px) {
  .text--font-md {
    font-size: 60px;
  }
}
@media only screen and (max-width: 599px) {
  .text--font-md {
    font-size: 36px;
    line-height: 1.091em;
  }
}
.text--font-sm {
  font-size: 38px;
}
.text--font-xs {
  font-size: 24px;
}

@media only screen and (max-width: 599px) {
  svg.is-desktop {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  svg.is-mobile {
    display: none;
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
}

input[type=submit],
button {
  cursor: pointer;
}
input[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica.woff2") format("woff2"), url("../fonts/helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/helvetica-bold.woff2") format("woff2"), url("../fonts/helvetica-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  letter-spacing: -0.04em;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.25s ease;
}
@media only screen and (max-width: 1366px) {
  .btn {
    font-size: 20px;
  }
}
.btn--primary {
  background-color: #0ac526;
  color: #ffffff;
  min-width: 375px;
  padding: 17px 12px;
  border: 1px solid #0ac526;
}
@media only screen and (max-width: 1366px) {
  .btn--primary {
    min-width: 315px;
    padding: 19px 12px;
  }
}
@media only screen and (max-width: 599px) {
  .btn--primary {
    min-width: 260px;
    padding: 13px 12px;
  }
}
.btn--primary:hover {
  background-color: #ffffff;
  color: #0ac526;
}
.btn--primary:disabled {
  background-color: white;
  color: gray;
  border-color: gray;
}

/*# sourceMappingURL=all.css.map */
