$white: #ffffff
$black: #000000
$green: #0ac526
$greenD: #0da524
$dark-grey: #181818
$light-grey: #bdbdbd
$grey: #666666

.is-dark

  --colorGray3ToGrayE: #363636
  --colorGray3ToGrayC: #363636
  --colorGray7ToGray94: #747474
  --colorWhiteToDark: #fff
  --colorWhiteToDarkGrey: #fff
  --colorWhiteToGreen: #fff
  --swiper-pagination-bullet-inactive-color: #fff

.is-light
  --colorGray3ToGrayE: #e3e3e3
  --colorGray3ToGrayC: #c6c6c6
  --colorGray7ToGray94: #949494
  --colorWhiteToDark: #000
  --colorWhiteToDarkGrey: #181818
  --colorWhiteToGreen: #{$green}
  --swiper-pagination-bullet-inactive-color: #000
