$white: #ffffff
$black: #000000
$green: #0ac526
$greenD: #0da524
$dark-grey: #181818
$light-grey: #bdbdbd
$grey: #666666

.is-dark
  --colorGray3ToGrayE: #363636
  --colorGray7ToGray94: #747474
  --colorWhiteToDark: #fff

.is-light
  --colorGray3ToGrayE: #e3e3e3
  --colorGray7ToGray94: #949494
  --colorWhiteToDark: #000
