.menu__item-button {
  background: #13cf2e;
  color: #181818;
  display: flex;
  align-items: center;
  height: 34px;
  padding: 0 20px;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
  white-space: nowrap;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family:
    Helvetica Bold,
    Arial,
    sans-serif;
  font-size: 12px;
  letter-spacing: -0.04em;
}

.menu__item-button:hover {
  color: black;
}

.menu__item-button_margin-left {
  margin-left: 25px;
}

@media only screen and (max-width: 996px) {
  .menu__item-button_margin-left {
    margin-left: 0;
  }

  .menu__item-button {
    margin-top: 8px;
    padding: 0 !important;
    background: transparent;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1.5px #181818;
    padding-right: 50px;
    opacity: 0.7;
    font-size: 32px;
    line-height: 1.2;
  }
  .menu__item-button:hover {
    background: transparent;
    opacity: 1;
    -webkit-text-stroke: 1px #0ac526;
    color: #0ac526 !important;
  }
}
