---
layout: 'layout.njk'
lang: 'en'

pagination:
  data: pages
  size: 1
  alias: sanityData

permalink:
    build: "/{{sanityData.slug.current}}/"
    serverless: '/dynamic'
---



{% for pagesData in pages %}
   {% if pagesData.slug.current == sanityData.slug.current %}
      {% for blocks in pagesData.pageContent %}
         {% if blocks._type == "hero" %}
            {% include '_hero.njk' %}
         {% endif %}

         {% if blocks._type == "event" %}
            {% include '_event.njk' %}
         {% endif %}

         {% if blocks._type == "features" %}
            {% include '_features.njk' %}
         {% endif %}

         {% if blocks._type == "speakers" %}
            {% include '_speakers.njk' %}
         {% endif %}

         {% if blocks._type == "schedule" %}
            {% include '_schedule-btn.njk' %}
         {% endif %}

         {% if blocks._type == "fullTicket" %}
            {% include '_full-ticket.njk' %}
         {% endif %}

         {% if blocks._type == "discussions" %}
            {% include '_discussions.njk' %}
         {% endif %}

         {% if blocks._type == "followUs" %}
            {% include '_follow-us.njk' %}
         {% endif %}

         {% if blocks._type == "bars" %}
            {% include '_bars.njk' %}
         {% endif %}
      {% endfor %}
   {% endif %}
{% endfor %}

