<!DOCTYPE html>
<html lang="en">

<head>

   {% if eleventy.env.isServerless %}
      <meta http-equiv="Cache-control" content="no-cache">
   {% endif %}


   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

   <meta name="description" content="{{ description }}">
   <meta name="twitter:site" content="{{ twitter_publisher }}">
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:creator" content="{{ twitter_publisher }}">
   <meta name="twitter:title" content="{{ title }}">
   <meta name="twitter:description" content="{{ description }}">
   <meta name="og:title" content="{{ title }}">
   <meta name="og:description" content="{{ description }}">
   <meta name="og:type" content="website">
   <meta name="og:image" content="{{ og_image }}">
   <meta name="og:url" content="{{ og_url }}">
   <meta name="format-detection" content="telephone=no">

   <title>{{ title }}</title>

   <link href="/assets/css/app.css" rel="stylesheet" type="text/css">
</head>
 {% if eleventy.env.isServerless %}
   <script>
        window.addEventListener('message', receiveMessage, false);

        function receiveMessage(event) {
            if (event.origin === 'http://localhost:3333' || event.origin === 'https://fr-website.sanity.studio') {
                if(event.data === 'reload()') {
                    window.location.reload(true);
                }
            }
            return;
        }
    </script>
   {% endif %}
<body class="bg" topmargin="0">
   <div class="out">
      {% include "_partials/_header.html" %}
      {{ content | safe }}
      {% include "_partials/_footer.html" %}
   </div>
   <script type="text/javascript" src="/assets/js/github-repo-buttons.js" ></script>
   
   <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>
   <script src="/assets/js/app.js"></script>
</body>

</html>
