<!DOCTYPE html>
<html lang="en">

<head>

   {% if eleventy.env.isServerless %}
      <meta http-equiv="Cache-control" content="no-cache">
   {% endif %}


   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

   <meta name="description" content="{{ description }}">
   <meta name="twitter:site" content="{{ twitter_publisher }}">
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:creator" content="{{ twitter_publisher }}">
   <meta name="twitter:title" content="{{ title }}">
   <meta name="twitter:description" content="{{ description }}">
   <meta name="og:title" content="{{ title }}">
   <meta name="og:description" content="{{ description }}">
   <meta name="og:type" content="website">
   <meta name="og:image" content="{{ og_image }}">
   <meta name="og:url" content="{{ og_url }}">
   <meta name="format-detection" content="telephone=no">

   <title>{{ title }}</title>

   <link href="/assets/css/app.css" rel="stylesheet" type="text/css">

    <script>
      (function (h, o, t, j, a, r) {
       h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
       h._hjSettings = { hjid: 3443963, hjsv: 6 };
       a = o.getElementsByTagName('head')[0];
       r = o.createElement('script'); r.async = 1;
       r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
       a.appendChild(r);
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>

 {% if eleventy.env.isServerless %}
   <script>
        window.addEventListener('message', receiveMessage, false);

        function receiveMessage(event) {
            if (event.origin === 'http://localhost:3333' || event.origin === 'https://fr-website.sanity.studio') {
                if(event.data === 'reload()') {
                    window.location.reload(true);
                }
            }
            return;
        }
    </script>
   {% endif %}

<body class="bg" topmargin="0">
   <div class="out">
      {% include "_partials/_header.html" %}
      {{ content | safe }}
      {% include "_partials/_footer.html" %}
   </div>

   <script>
     var _gauges = _gauges || [];
     (function () {
      var t = document.createElement('script');
      t.type = 'text/javascript';
      t.async = true;
      t.id = 'gauges-tracker';
      t.setAttribute('data-site-id', '5c60ad334cba7a6ec400efc0');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
     })();
   </script>

   <script type="text/javascript" src="/assets/js/github-repo-buttons.js" ></script>
   
   <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>
   <script src="/assets/js/app.js"></script>
</body>

</html>
