<!DOCTYPE html>
<html lang="en">

<head>

   {% if eleventy.env.isServerless %}
      <meta http-equiv="Cache-control" content="no-cache">
   {% endif %}


   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <link href="/assets/css/landing/app.css" rel="stylesheet" type="text/css">
</head>
 {% if eleventy.env.isServerless %}
   <script>
        console.log('Listening for messages from Sanity');
        window.addEventListener('message', receiveMessage, false);

        function receiveMessage(event) {
        console.log('Listening fory', event);
            if (event.origin === 'https://fr-website.sanity.studio' || event.origin === 'http://localhost:3333') {
            if(event.data === 'reload()') {
                        console.log(1);
                           window.location.reload(true);
                        }
            console.log(-1);
            }
            console.log(0);
                return;

        }
    </script>
   {% endif %}
<body class="bg" topmargin="0">
   <div class="out">
      {{ content | safe }}
   </div>


</body>

</html>
