.navbarHideable {
  transition: transform var(--ifm-transition-fast) ease;
}

.navbarHidden {
  transform: translate3d(0, calc(-100% - 2px), 0);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  padding: 18px 0;
}

.navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media only screen and (max-width: 850px) {
  .navbar {
    padding: 15px 0;
  }
}
