<!-- begin hero -->
<section id="home" data-section="home" class="hero is-dark js-scroll-header {{heroMod}}">
    <div class="hero__bg hero-bg--image" style="background-image: url(/img/{{heroImage}})"></div>
    <div class="container">
        <div class="hero__inner">
            <h1 class="hero__title ">
                {% for line in heroLines %}
                    <span>{{ line }}</span>
                {% endfor %}
            </h1>
            <!-- <h1 class="hero__title is-tablet">
                {% include './svg/hero_title_tablet.svg' %}
            </h1>
            <h1 class="hero__title is-mobile">
                {% include './svg/hero_title_mob.svg' %}
            </h1> -->
        </div>
    </div>
    <div class="hero__next-section">
        <a href="{% if innerPage %}#description{% else %}#about{% endif %}" class="js-scroll-to">
            <img src="/img/arrow.png" alt="next section arrow"/>
        </a>
    </div>
    <div class="container relate">
        <a href="{% if innerPage %}#description{% else %}#about{% endif %}" class="hero__scroll-note js-scroll-to">Scroll</a>
    </div>
</section>
<!-- end hero -->
