.mail-us {
    padding: 74px 0 60px;
}

.mail-us__title {
    font-weight: bold;
    text-transform: uppercase;
    max-width: 820px;
    margin: 0 auto 70px;
    font-size: 28px;
    line-height: 1.24;
    text-align: center;
}

.mail-us__title + .md {
    font-size: 22px;
}

.mail-us__title + .xs {
    font-size: 18px;
}

.mail-form {
    max-width: 514px;
    margin: 0 auto;
}

.mail-form a {
    text-decoration: underline;
    color: inherit;
}

.mail-form a:hover {
    text-decoration: none;
}

.mail-form__line {
    margin: 18px 0 0;
}

.mail-form__input {
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    height: 58px;
    border-bottom: 2px solid #000;
    background: #fff;
    color: #000;
    transition: all ease 0.2s;
}

.mail-form__input:focus {
    padding: 0 20px;
    border-color: green;
}

.mail-form__input::placeholder {
    font-size: 18px;
    color: #000;
}

.mail-form__input-textarea {
    border-top: none;
    border-right: none;
    border-left: none;
    min-height: 120px;
    min-width: 100%;
    max-width: 100%;
}

.mail-form__input.error {
    border-color: red;
}

.mail-form__submit {
    display: flex;
    margin: 50px 0 0 auto;
    min-width: 168px;
    max-width: 100%;
    font-family: 'Helvetica', Arial, sanf-serif, serif;
}
