<!-- begin contacts -->
<section id="contacts" data-section="contacts" class="contacts is-dark js-scroll-header {{contactsSectionMod}}">
    <div class="container">
        <div class="contacts__inner">
            <a href="mailto:hi@focusreactive.com" class="contacts__title">
                <h2 class="title title--md title--light">hi@<br/>focusreactive<br/>.com</h2>
            </a>
            <p class="contacts__text text text--font-md text--border-light">
                Email us with your project details
                <br/>
                and together we will work out the right solution
                <br/>
                for your team and business
            </p>
        </div>
    </div>
</section>
<!-- end contacts -->
