<!-- begin scroll-next -->
<section class="scroll-next is-dark js-scroll-header" data-section="about" style="background-image: url(/{% if isArticle %}../{% endif %}img/person-micro.jpg)">
    <div class="container">
        <div class="scroll-next__title">
            <h3 class="title title--light title--xs">How can we help <br/> you?</h3>
        </div>
        <a href="#contacts" class="scroll-next__icon js-scroll-to text-center">
            <img src="/{% if isArticle %}../{% endif %}img/arrow.png" alt="next section arrow"/>
        </a>
    </div>

</section>
<!-- end scroll-next -->