<section class="collaboration-process is-light js-scroll-header" id="collaboration-process" data-section="collaboration-process">
	{% if collaborationTitle %}
	<div class="container">
		<h3 class="title title--dark title--xs">{{collaborationTitle}}</h3>
	</div>
	{% endif %}
	<ul class="collaboration-steps">
		{% for step in workPageHighlights.elements %}
			<li class="collaboration-steps__item">
				<div class="collaboration-steps__num">#{{loop.index}}</div>
				<h4 class="collaboration-steps__title">{{step.title}}</h4>
				<div class="collaboration-steps__descr">{{step.description}}</div>
			</li>
		{% endfor %}
	</ul>
</section>
