<header class="header is-light js-header {{headerMod}} {% if innerPage %}inner{% endif %}">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <a href="{% if innerPage %}/{% else %}#home{% endif %}" class="logo js-scroll-to">{% include "./svg/focusreactive.svg" %}</a>
            </div>
            <!-- <div class="header__note is-desktop">
                <p>Next.js, Headless CMS and eCommerce expert agency</p>
            </div> -->
            <div class="header__burger">
                <div class="burger js-burger"></div>
            </div>
            <div class="header__menu js-nav js-vh">
                <!-- <div class="header__note is-mobile">
                    <p>Next.js, Headless CMS and eCommerce expert agency</p>
                </div> -->
                <nav class="menu">
                    <ul class="menu__list">
                        {% for item in menu %}
                        <li class="menu__item {{item.mod}}"><a class="menu__link js-nav-link js-scroll-to {{item.active}}" href="/{{item.link}}">{{item.text}}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="menu__soc-links">
                        <li><a href="https://twitter.com/focusreactive" target="_blank">Twitter</a></li>
                        <li><a href="https://www.linkedin.com/company/focusreactive" target="_blank">LinkedIn</a></li>
                        <!--<li><a href="#." target="_blank">Github</a></li>-->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
