.navbar-link-wrapper {
  margin-left: 10px;
}
.navbar-link-wrapper:first-child {
  margin-right: 82px;
}

.navbar-link-wrapper > a:hover {
  color: black;
}

@media only screen and (max-width: 1480px) {
  .navbar-link-wrapper:first-child {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 996px) {
  .navbar-link-wrapper {
    margin-right: 0 !important;
    margin-left: 0;
  }
}
