.content_2_col
	padding: 200px 0
	overflow: hidden

	+s
		padding: 120px 0
	+sm 
		padding: 80px 0

	h2
		font-size: 38px
		font-weight: 700
		line-height: 1
		text-transform: uppercase
		margin-bottom: 20px
		color: #181818

		+sm
			font-size: 20px

	p
		margin-bottom: 30px

	img
		max-width: 100%
		height: auto

	.container
		display: flex
		align-items: flex-start
		justify-content: space-between
		max-width: 1200px
		gap: 50px

		+s
			flex-direction: column
			gap: 30px
	
	&__col
		
		color: #747474
		font-size: 14px

	&__col_1
		flex: 1 


		+s
			order: 2

	&__col_2
		flex: none 
		width: 50%
		+s
			order: 1
			width: auto 
			max-width: 500px


	&__link-container
		width: 100%
		display: flex
		justify-content: center
		padding-bottom: 30px


	
	
