.content_2_col
	padding: 200px 0
	overflow: hidden

	+s
		padding: 120px 0

	h2
		font-size: 38px
		font-weight: 700
		line-height: 1

		margin-bottom: 20px
		color: #181818

		+sm
			font-size: 20px

	p
		margin-bottom: 30px

	img
		max-width: 100%
		height: auto

	.container
		display: flex
		align-items: flex-start
		justify-content: space-between
		flex-wrap: wrap
		max-width: 1100px

		+sm
			flex-direction: column

	&__col_1

		max-width: 560px

		+sm
			order: 2

	&__col_2

		+sm
			order: 1

	&__col
		padding: 0 45px
		color: #747474
		font-size: 14px

		+sm
			padding-left: 0
			padding-right: 0

	&__link-container
		width: 100%
		display: flex
		justify-content: center
		padding-bottom: 30px
