.header
  position: fixed
  top: 0
  left: 0
  z-index: 150
  width: 100%
  padding: 18px 0
  height: 92px
  +s
    .container
      position: relative

  &__logo
    display: block

    text-decoration: none
    transition: all .7s ease
    flex-shrink: 0
    font-size: 0
    +m
      max-width: 140px

    a
      display: block
      width: 100%
    svg
      display: block
      width: 140px

    svg path
      transition: all 0.35s ease
  &__inner
    display: flex
    justify-content: space-between
    align-items: center
  &__note
    font-size: 14px
    color: $light-grey
    opacity: 0.9
    position: absolute
    left: calc(25% + 100px)
    +lg
      left: calc(25% + 25px)
    +xs
      font-size: 12px

    &.is-desktop
      +r(1100)
        display: none
    &.is-mobile
      display: none
      +s
        display: block
        opacity: 1
        padding-left: 0
        top: 25px
        max-width: calc(100% - 90px)
        left: 30px
      +xs
        left: 15px

  &__burger
    display: none
    +s
      display: block
      margin-left: auto
      position: absolute
      top: 5px
      right: 10px

  &__menu
    +s
      transform: translateX(100%)
      position: fixed
      width: 100%
      top: 0
      right: 0
      height: 100vh
      height: 100svh
      background-color: $white
      transition: transform .25s ease-in-out
      padding: 0 30px
      overflow-y: auto
      &.is-open
        transform: translateX(0)
    +xs
      padding: 0 15px

  &.is-light
    .header__logo
      svg, svg path
        fill: $white

    .burger
      &::before, &::after
        background-color: $white
      &.is-open
        &::before, &::after
          background-color: $black

    +rmin(1025)
      .menu__link
        color: $white
        &.is-active
          color: $green

  &.is-dark
    .header__logo
      svg, svg path
        fill: $black
    .burger
      &::before, &::after
        background-color: $black
      &.is-open
        &::before, &::after
          background-color: $black

    +rmin(1025)
      .menu
        &__item-button
          .menu__link
            background: $green
        &__link
          color: $dark-grey
          &.is-active
            color: $green

  &.is-fixed
    background: linear-gradient(to bottom, rgba(0,0,0, 0.1), rgba(0,0,0, 0))
    -webkit-backdrop-filter: blur(10px)
    backdrop-filter: blur(10px)
