.intro_text
  font-size: 16px
  padding: 80px 0

  &__content
    max-width: 1000px
    margin: 0 auto

    p
      & + p
        margin-top: 30px

    &.hide-markers
      li
        &:after
          display: none

      ol
        list-style: none

  h2
    +helB
    text-transform: uppercase
    text-align: center
    margin: 0 auto 50px
    font-size: 45px
    line-height: 1.2

    +md
      margin-bottom: 36px

    +xs
      font-size: 30px
      margin-bottom: 18px

  h3
    font-size: 60px
    text-align: center
    margin: 50px 0

    +md
      font-size: 50px
      margin: 40px 0

    +xs
      font-size: 40px
      margin: 30px 0

  h4, h5, h6
    font-size: 38px
    text-align: center
    margin: 38px 0

    +md
      font-size: 32px
      margin: 32px 0

    +xs
      font-size: 26px
      margin: 26px 0

  p, li
    font-size: 16px

    +xs
      font-size: 14px

  &.medium
    p, li
      font-size: 20px

      +md
        font-size: 18px

      +xs
        font-size: 16px

  &.large
    p, li
      font-size: 24px

      +md
        font-size: 20px

      +xs
        font-size: 18px

  ul, ol
    list-style: none
    margin: 24px auto
    max-width: 920px

    li:not(first-child)
      margin-top: 30px

  &.pos-left
    .intro_text__content
      max-width: none

    ul, ol
      max-width: none
      margin-left: 120px

  ul
    li
      position: relative
      padding: 0 0 0 18px

      &:after
        content: ''
        position: absolute
        left: 1px
        top: 8px
        width: 6px
        height: 6px
        border-radius: 3px
        background: $black

  ol
    list-style: decimal
    list-style-position: inside

  a
    color: $green
    &:hover
      text-decoration: none

.intro-list
  &__content
    max-width: 1000px
    margin: 0 auto
    ul
      list-style-type: none
      margin: 0
      padding: 0
    li
      font-size: 16px
      font-weight: 700
      color: #848484
      text-transform: uppercase
      padding: 32px 66px 32px 0
      border-top: 1px solid #363636
      position: relative
      +sm
        font-size: 14px
        padding: 20px 56px 20px 0

      &:last-child
        border-bottom: 1px solid #363636
      &:after
        content: ''
        display: block
        position: absolute
        top: 50%
        right: 0
        transform: translate(0,-50%)
        background: url('../img/circle-check.svg') no-repeat center
        background-size: contain
        width: 50px
        height: 50px
        +sm
          width: 40px
          height: 40px
        +xs
          width: 32px
          height: 32px

      a
        color: #fff
        text-decoration: none
        &:hover
          color: $green
