.mail-us
  padding: 80px 0
  color: var(--colorWhiteToDark)
  &__head
    margin-bottom: 40px
  &__suptitle
    margin-bottom: 10px
    font-size: clamp(18px, 2.5vw, 28px)
    +helB

    line-height: 1.2
    text-align: center
    text-transform: uppercase
  &__title
    text-transform: uppercase
    text-align: center
    line-height: 0.9em
    +helB
    +sm
      line-height: 1

.mail-form
  max-width: 1200px
  margin-left: auto
  margin-right: auto
  &__grid
    display: flex
    flex-wrap: wrap
    gap: 70px 20px
    +sm
      gap: 30px 0
  &__line
    width: calc(50% - 10px)
    +sm
      width: 100%
    &--full
      width: 100%
    &.align-self-center
      align-self: center
  &__text
    font-size: 14px
    color: #747474
    text-align: center
    a
      color: var(--colorWhiteToDark)
      text-decoration: none
      &:hover
        text-decoration: underline
